////////////////////////////////////////////////////////////////////////////////
// scss/utilities/_functions.scss :  Helper functions
////////////////////////////////////////////////////////////////////////////////


// Import if Google Font URL is defined
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}


// Convert px to em
@function em($target, $context: $base__font-size) {
  @return ($target / $context) * 1em;
}


// grid
@function grid-context($grid-colomn-width, $grid-colomn-count ,$grid-gutter-width) {
  $grid-context: ($grid-colomn-width * $grid-colomn-count) + ($grid-gutter-width * ($grid-colomn-count - 1));
  @return $grid-context;
}


// Color Palette Modifier
@function palette($palette, $shade: 'base') {
  @return map-get(map-get($palettes, $palette), $shade);
}

// Extend placeholders
@function extender($extend) {
  @return '%#{$extend}';
}

.transition {
  transition: background 1s ease-in-out;
  transition: font-size 1s ease-in-out;
}
